{% extends 'base.html' %} {% load static %} {% block body %}

<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">
             Online Price Comprasion
            </h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <!-- ======= About Section ======= -->
  <section class="section-about">
    <div class="container">
      <div class="row">
        
        <div class="col-md-12 section-t8 position-relative">
          <div class="row">          

              <p class="color-text-a">
                This is a global price comprasion website.
              </p>
              <p class="color-text-a">
                You can compare price of millions of product here.
              </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
<!-- End #main -->
{% include 'footer.html' %} {% endblock %}
